body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
  display: inline-block;
  animation: spinScale 3s linear infinite;
}

@keyframes spinScale {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.5);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
